## This file is a general .ucf for Nexys2 rev A board
## To use it in a project:
## - remove or comment the lines corresponding to unused pins
## - rename the used signals according to the project

## Signals Led<7>…Led<4> are assigned to pins which change type from s3e500 to other dies using the same package
## Both versions are provided in this file.
## Keep only the appropriate one, and remove or comment the other one.


## Clock pin for Nexys 2 Board
#NET "iClk"         LOC = "B8";    # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK,                 Sch name = GCLK0
#NET "clk1"        LOC = "U9";    # Bank = 2, Pin name = IO_L13P_2/D4/GCLK14, Type = DUAL/GCLK,        Sch name = GCLK1

#nexys 3
NET "iClk"            LOC = "V10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK


## Pic USB-HID interface | PULLUP ;//
NET "PS2_DATA"   LOC = "K14" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L39N_M1ODT,                     Sch name = PIC-SDO1
NET "PS2_CLK"    LOC = "L13" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L40N_GCLK10_M1A6,               Sch name = PIC-SS1


//Para el mouse
//..............................................................................................................................
## Leds 
NET "LedMouse[0]"         LOC = "U16" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L2P_CMPCLK,                     Sch name = LD0
NET "LedMouse[1]"         LOC = "V16" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L2N_CMPMOSI,                    Sch name = LD1
NET "LedMouse[2]"         LOC = "U15" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L5P,                            Sch name = LD2
NET "LedMouse[3]"         LOC = "V15" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L5N,                            Sch name = LD3
NET "LedMouse[4]"         LOC = "M11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L15P,                           Sch name = LD4
NET "LedMouse[5]"         LOC = "N11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L15N,                           Sch name = LD5
NET "LedMouse[6]"         LOC = "R11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L16P,                           Sch name = LD6
NET "LedMouse[7]"         LOC = "T11" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L16N_VREF, 


//..............................................................................................................................



## 7 segment display  Nexys 2 Board
#NET "display[0]"      LOC = "L18";   # Bank = 1, Pin name = IO_L10P_1, Type = I/O,                        Sch name = CA
#NET "display[1]"      LOC = "F18";   # Bank = 1, Pin name = IO_L19P_1, Type = I/O,                        Sch name = CB
#NET "display[2]"      LOC = "D17";   # Bank = 1, Pin name = IO_L23P_1/HDC, Type = DUAL,                   Sch name = CC
#NET "display[3]"      LOC = "D16";   # Bank = 1, Pin name = IO_L23N_1/LDC0, Type = DUAL,                  Sch name = CD
#NET "display[4]"      LOC = "G14";   # Bank = 1, Pin name = IO_L20P_1, Type = I/O,                        Sch name = CE
#NET "display[5]"      LOC = "J17";   # Bank = 1, Pin name = IO_L13P_1/A6/RHCLK4/IRDY1, Type = RHCLK/DUAL, Sch name = CF
#NET "display[6]"      LOC = "H14";   # Bank = 1, Pin name = IO_L17P_1, Type = I/O,                        Sch name = CG
#NET "dp"          LOC = "C17";   # Bank = 1, Pin name = IO_L24N_1/LDC2, Type = DUAL,                  Sch name = DP

## 7 segment display
NET "display[0]"         LOC = "T17" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L51P_M1DQ12,                    Sch name = CA
NET "display[1]"         LOC = "T18" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L51N_M1DQ13,                    Sch name = CB
NET "display[2]"         LOC = "U17" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L52P_M1DQ14,                    Sch name = CC
NET "display[3]"         LOC = "U18" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L52N_M1DQ15,                    Sch name = CD
NET "display[4]"         LOC = "M14" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L53P,                           Sch name = CE
NET "display[5]"         LOC = "N14" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L53N_VREF,                      Sch name = CF
NET "display[6]"         LOC = "L14" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L61P,                           Sch name = CG
/////


## Switches
NET "selectorControles"          LOC = "T10" | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L29N_GCLK2,                     Sch name = SW0
#NET "sw<1>"          LOC = "T9"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L32P_GCLK29,                    Sch name = SW1
#NET "sw<2>"          LOC = "V9"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L32N_GCLK28,                    Sch name = SW2
#NET "sw<3>"          LOC = "M8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L40P,                           Sch name = SW3
#NET "sw<4>"          LOC = "N8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L40N,                           Sch name = SW4
#NET "sw<5>"          LOC = "U8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L41P,                           Sch name = SW5
#NET "sw<6>"          LOC = "V8"  | IOSTANDARD = "LVCMOS33";   #Bank = 2, Pin name = IO_L41N_VREF,                      Sch name = SW6
#NET "sw<7>"          LOC = "T5"  | IOSTANDARD = "LVCMOS33";   #Bank = MISC, Pin name = IO_L48N_RDWR_B_VREF_2,          Sch name = SW7

# Nexys 2 Board
#NET "conectorAn[0]"       LOC = "F17";   # Bank = 1, Pin name = IO_L19N_1, Type = I/O,                        Sch name = AN0
#NET "conectorAn[1]"       LOC = "H17";   # Bank = 1, Pin name = IO_L16N_1/A0, Type = DUAL,                    Sch name = AN1
#NET "conectorAn[2]"       LOC = "C18";   # Bank = 1, Pin name = IO_L24P_1/LDC1, Type = DUAL,                  Sch name = AN2
#NET "conectorAn[3]"       LOC = "F15";   # Bank = 1, Pin name = IO_L21P_1, Type = I/O,                        Sch name = AN3

NET "conectorAn[0]"          LOC = "N16" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L50N_M1UDQSN,                   Sch name = AN0
NET "conectorAn[1]"          LOC = "N15" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L50P_M1UDQS,                    Sch name = AN1
NET "conectorAn[2]"          LOC = "P18" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L49N_M1DQ11,                    Sch name = AN2
NET "conectorAn[3]"          LOC = "P17" | PULLUP ;//| IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L49P_M1DQ10,                    Sch name = AN3



## Buttons nexys 2
#NET "iStart"      LOC = "B18";   # Bank = 1, Pin name = IP, Type = INPUT,                             Sch name = BTN0
#NET "iReset"      LOC = "D18";   # Bank = 1, Pin name = IP/VREF_1, Type = VREF,                       Sch name = BTN1
#NET "iPosicionY1"      LOC = "E18";   # Bank = 1, Pin name = IP, Type = INPUT,                             Sch name = BTN2
#NET "iPosicionY2"      LOC = "H13";   # Bank = 1, Pin name = IP, Type = INPUT,                             Sch name = BTN3

## Buttons
NET "iStart"         LOC = "B8"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L33P,                           Sch name = BTNS
NET "iReset"         LOC = "A8"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L33N,                           Sch name = BTNU
NET "iPosicionY2"    LOC = "C4"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L1N_VREF,                       Sch name = BTNL
NET "iPosicionY1"    LOC = "D9"  | IOSTANDARD = "LVCMOS33";   #Bank = 0, Pin name = IO_L34N_GCLK18,                    Sch name = BTND



## VGA Connector nexys 2
#NET "colorR"  	LOC = "R9";    # Bank = 2, Pin name = IO/D5, Type = DUAL, Sch name = RED0
#NET "colorG" 		LOC = "N8";    # Bank = 2, Pin name = IO_L09N_2, Type = I/O,                        Sch name = GRN0
#NET "colorB"  	LOC = "U5";    # Bank = 2, Pin name = IO/VREF_2, Type = VREF,                       Sch name = BLU1
#NET "sincH"      LOC = "T4";    # Bank = 2, Pin name = IO_L03N_2/MOSI/CSI_B, Type = DUAL,            Sch name = HSYNC
#NET "sincV"      LOC = "U3";    # Bank = 2, Pin name = IO_L01P_2/CSO_B, Type = DUAL,                 Sch name = VSYNC

## VGA Connector
NET "colorR"	LOC = "U7"  | IOSTANDARD = "LVCMOS33";   # Bank = 2, Pin name = IO_L43P,                          Sch name = RED0
NET "colorG"	LOC = "P8"  | IOSTANDARD = "LVCMOS33";   # Bank = 2, Pin name = IO_L44N,                          Sch name = GRN0
NET "colorB"	LOC = "R7"  | IOSTANDARD = "LVCMOS33";   # Bank = 2, Pin name = IO_L46P,                          Sch name = BLU1
NET "sincH"    LOC = "N6"  | IOSTANDARD = "LVCMOS33";   # Bank = 2, Pin name = IO_L47P,                          Sch name = HSYNC
NET "sincV"    LOC = "P7"  | IOSTANDARD = "LVCMOS33";   # Bank = 2, Pin name = IO_L47N,                          Sch name = VSYNC
