//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 23 14:33:41 2014
//! **************************************************************************

SCHEMATIC START;
COMP "iClk" LOCATE = SITE "V10" LEVEL 1;
COMP "sincH" LOCATE = SITE "N6" LEVEL 1;
COMP "sincV" LOCATE = SITE "P7" LEVEL 1;
COMP "iPosicionY1" LOCATE = SITE "C4" LEVEL 1;
COMP "iPosicionY2" LOCATE = SITE "D9" LEVEL 1;
COMP "iReset" LOCATE = SITE "C9" LEVEL 1;
COMP "display<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "display<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "display<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "display<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "display<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "display<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "display<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "iStart" LOCATE = SITE "A8" LEVEL 1;
COMP "colorB" LOCATE = SITE "R7" LEVEL 1;
COMP "colorG" LOCATE = SITE "P8" LEVEL 1;
COMP "colorR" LOCATE = SITE "U7" LEVEL 1;
COMP "conectorAn<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "conectorAn<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "conectorAn<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "conectorAn<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

