//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 11 18:56:15 2014
//! **************************************************************************

SCHEMATIC START;
COMP "selectorControles<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "selectorControles<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "RsRx" LOCATE = SITE "N17" LEVEL 1;
COMP "iClk" LOCATE = SITE "V10" LEVEL 1;
COMP "sincH" LOCATE = SITE "N6" LEVEL 1;
COMP "sincV" LOCATE = SITE "P7" LEVEL 1;
COMP "iPosicionY1" LOCATE = SITE "D9" LEVEL 1;
COMP "iPosicionY2" LOCATE = SITE "C4" LEVEL 1;
COMP "iReset" LOCATE = SITE "A8" LEVEL 1;
COMP "display<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "display<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "display<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "display<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "display<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "display<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "display<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "iStart" LOCATE = SITE "B8" LEVEL 1;
COMP "colorB" LOCATE = SITE "R7" LEVEL 1;
COMP "colorG" LOCATE = SITE "P8" LEVEL 1;
COMP "colorR" LOCATE = SITE "U7" LEVEL 1;
COMP "LedMouse<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "LedMouse<1>" LOCATE = SITE "U16" LEVEL 1;
COMP "LedMouse<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LedMouse<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LedMouse<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LedMouse<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LedMouse<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LedMouse<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "K14" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "L13" LEVEL 1;
COMP "conectorAn<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "conectorAn<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "conectorAn<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "conectorAn<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

